In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.astype(int)

In [5]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent,test_size=0.30, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [11]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor()
regressor=regressor.fit(x_train,y_train)

In [12]:
x_train

array([[-1.5330973 , -0.36100765, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.278355  , -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.51612426,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.84052963, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.75787698, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.95941426, -0.06746417, -0.97676557, -0.50466988]])

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid= {'criterion': ['friedman_mse', 'absolute_error', 'poisson'], 'max_features': ['sqrt', 'log2'], 'splitter':['best', 'random']}

In [14]:
grid= GridSearchCV(DecisionTreeRegressor(),param_grid, refit= True, verbose=3, n_jobs=-1 )

In [15]:
grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'absolute_error',
                                       'poisson'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [16]:
re=grid.cv_results_

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004927,0.004023,0.003445,0.003990,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.671777,0.630549,0.625651,0.386021,0.675420,0.597884,0.107885,11
1,0.008419,0.000237,0.001576,0.003152,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.766910,0.589671,0.631063,0.550528,0.612927,0.630220,0.073456,6
2,0.008127,0.000421,0.003515,0.004064,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.571395,0.594948,0.635043,0.656843,0.597656,0.611177,0.030607,9
3,0.006489,0.003252,0.005111,0.003928,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.639604,0.656716,0.652027,0.619835,0.501361,0.613909,0.057702,8
4,0.018115,0.003129,0.001761,0.003263,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.706358,0.652315,0.455936,0.657837,0.659559,0.626401,0.087419,7
5,0.013790,0.004561,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.606128,0.571869,0.414471,0.703121,0.689050,0.596928,0.103698,12
6,0.015429,0.003855,0.002581,0.003161,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.526624,0.535772,0.659401,0.614869,0.655359,0.598405,0.057115,10
7,0.017346,0.004005,0.000070,0.000140,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.765608,0.659306,0.677883,0.623599,0.560088,0.657297,0.067445,3
8,0.008776,0.002581,0.001787,0.003575,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.719690,0.616293,0.545863,0.646913,0.711754,0.648103,0.064253,4
9,0.006278,0.003189,0.000000,0.000000,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.825261,0.637128,0.620783,0.564106,0.661655,0.661787,0.087812,2
10,0.007150,0.003575,0.001472,0.002943,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.769951,0.704676,0.625659,0.724201,0.732907,0.711479,0.047857,1
11,0.004652,0.003799,0.003158,0.003799,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.739288,0.525073,0.603925,0.661125,0.654582,0.636798,0.070676,5

In [19]:
age_input=float(input("Age: "))
bmi_input=float(input("BMI: "))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex Male 0 or 1: "))
smoker_yes_input=int(input("Smoker yes o or 1: "))

Age: 42
BMI: 28
Children: 2
Sex Male 0 or 1: 0
Smoker yes o or 1: 0

In [20]:
Future_Prediction=grid.predict([[age_input,bmi_input, children_input,sex_male_input, smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[16085.]